table {
    display: flex;
    flex-direction: column;
    height: 495px;
    overflow: scroll;
    overflow-x: hidden;
}
.table {
    width: 661px;
}
tr td:nth-child(1),
tr td:nth-child(3),
tr th:nth-child(1),
tr th:nth-child(3) {
    width: 115px;
}
tr th:nth-child(2),
tr td:nth-child(2) {
    width: 300px;
}
tr th:nth-child(4),
tr td:nth-child(4) {
    width: 110px;
}
thead {
    position: sticky;
    top: 0;
    background: white;
}
.flexBlock {
    display: flex;
    flex-direction: row;
}
h3 {
    font-size: 23px;
    color: #2591b1;
    margin: 7px 50px 0 50px;
}